<section>
    <div class="row">
        <label>Select page size</label>
        <div class="col-12 col-sm-2">
            <Select TValue="string" ValueChanged="ApplySort">
                <Options>
                    <SelectOption Text="-Sort By-" Value="-1" />
                    <SelectOption Text="Name: A -> Z" Value="Name" />
                    <SelectOption Text="Name: Z -> A" Value="Name desc" />
                    <SelectOption Text="Created Date ascending" Value="CreatedAt" />
                    <SelectOption Text="Created Date decending" Value="CreatedAt desc" />
                </Options>
            </Select>
        </div>
    </div>
</section>

