@page "/404"
@rendermode InteractiveServer

<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                Not Found friend oi.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary" @onclick="NavigateToHome">
            Navigate to the Home Page
        </button>
    </div>
</div>
