<div class="row">
    <label>Select page size</label>
    <div class="col-12 col-sm-2">
        <Select TValue="int" ValueChanged="OnPageSizeChange">
            <Options>
                <SelectOption Text="5" Value="5" Active="true" />
                <SelectOption Text="10" Value="10" />
                <SelectOption Text="15" Value="15" />
                <SelectOption Text="20" Value="20" />
            </Options>
        </Select>
    </div>
</div>
