@page "/emp/categories"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using BlindBoxShop.Application.Pages.Employee.BlindBoxCategoryPage.Partials

<PageTitle>Category</PageTitle>
<div class="row">
    <div class="col-md-5 mb-3">
        <SearchBar OnSearchChanged="SearchChanged" />
        <PageSizeDropDown SelectedPageSize="SetPageSize" />
    </div>
    <div class="col-md-5 mb-3">
        <SortBar OnSortChanged="SortChanged" />
    </div>
    <div class="col-md-2 mb-3">
        <BlindBoxCategoryModalCreate />
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <BlindBoxCategoryTable BlindBoxCategories=@BlindBoxCategories>
        </BlindBoxCategoryTable>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <Paginations MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
    </div>

</div>